@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Set your brand colors
$red: #EE3D25;
$blue: #26265E;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$family-sans-serif: "Montserrat", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $red;
$link: $blue;

$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;
$navbar-height: 4rem;

.in-red  { color: $red !important; }
.in-blue  { color: $blue !important; }
.in-hero-blue  { background-color: $blue !important; }
.in-has-bottom-margin { margin-bottom: 1em; }
//

@import 'node_modules/bulma/bulma.sass';
@import 'node_modules/bulma-extensions/src/sass/index.sass';

.debug { border: 1px solid red !important; }